.container {
  text-align: center;
  height: 100vh;
}

.header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 10%;
  justify-content: flex-start;
  overflow-y: hidden;
}

.main {
  background-color: #376790;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85%;
  overflow-y: auto;
}

.footer {
  background-color: #314771;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 5%;
  overflow-y: hidden;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
